
@{
    ViewBag.Title = "AddReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    DACS.Context.Member member = new DACS.Context.Member();
    if (Session["Member"] != null)
    {
        member = (DACS.Context.Member)Session["Member"];
    }
}
<div class="content-wrapper" style="min-height: 778px;">
    <div class="card-header">
        <h3 class="card-title">Báo cáo</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="/Report/SaveReport" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <input type="hidden" name="memberId" value="@member.ID" />
            <div class="form-group">
                <label for="description">Mô tả</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả về báo cáo" required>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Gửi báo cáo</button>
        </div>
    </form>
</div>


